* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    /* background: url("https://s0.rbk.ru/v6_top_pics/media/img/4/04/756286644163044.jpg"); */
    background: url("/images/tesla-model-s-RMNR-1024x576-MM-90.jpg");
    background-size: cover;

}
header {
    border: 1px solid rgb(138, 138, 138);
    background-color: rgb(224, 224, 223);
    /* background: crimson; */
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0 10px;
}

header nav h3 {
    color: transparent;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    font-size: 25px;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}
.container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
nav a {
    text-decoration: none;
    color: #0303b1;
    padding: 5px;
    margin: 5px;
}
nav a:hover{
    color: rgb(2, 2, 100);
}
main h1{
    padding:0 15px ;
    margin: 15px 0;
    font-size: 45px;
    font-weight: 400;
    font-family:monospace;
}
main .form {
    background-color: rgb(200, 195, 195);
    margin-top: 15px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid rgb(114, 111, 111);
    overflow: hidden;
    /* background: url(https://img.gazeta.ru/files3/670/13630670/tesla-pic_32ratio_900x600-900x600-249.jpg); */
}
main form{
    width: 100%;
    padding: 10px;
    display: flex;
    border: 1px solid rgb(139, 138, 138);
    border-radius: 15px;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    /* background-color: rgb(223, 221, 221); */
    height: 100%;
}
main form label {
    font-family: monospace;
    font-size: 15px;
}
form input{
    padding: 10px;
    border-radius: 20px;
    margin: 5px 0 10px 0;
    border: 1px solid #000;

    /* background-color: lightgray; */
    width: 300px;
    outline: none;
}
main .btn {
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: rgb(0, 110, 255);
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}
main .btn:hover{
    background-color: rgb(0, 98, 255);
    transition: 0.4s;
}
main .forgots {
    padding: 10px 0 15px 0;
    display: flex;
    justify-content: space-around;
}
.a1, .a2{
    color: rgb(88, 87, 87);
}
main .forgots .a1:hover, .a2:hover {
    color: rgb(0, 0, 0);
}
main h3 {
    font-family: monospace;
    text-align: center;
    border-radius: 150px 25px 150px 25px;
    padding: 5px;
}
main .btn2Div {
    display: flex;
}
main .btn2Div h3 {
    color: rgb(179, 12, 12);
}
main .btn2 {
    width: 98%;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    outline: none;
    border: 2px solid black;
    background: #fff;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}
main .btn2:hover {
    background-color: rgb(0, 0, 0);
    color: #fff;
    transition: 0.2s;
}
footer {
    position: fixed;
    bottom: 0;
    padding: 15px;
    width: 100%;
    border: 1px solid gray;
    background-color: rgb(180, 180, 180);

}
footer:hover, footer:hover a{
    background: gray;
    color: #fff;
}

footer a {
    text-decoration: none;
    color: rgb(85, 83, 83);
    font-weight: 500;
}
footer a:hover {
    color: #101;
}