* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
header nav{
    background: rgba(26, 22, 22, 0.582);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    position: fixed;
}
header nav a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: rgb(192, 195, 195);
    font-weight: 800;
    font-size: 20px;
}
header nav a:hover {
    color: #fff;
}
.body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: url("../../images/backgroundBody.jpeg");
    height: 800px;
}
.tesla {
    font-size: 105px;
    font-weight: 800;
    font-family: monospace;
    color: rgb(236, 236, 236);
    text-shadow: 0 0 5px rgb(214, 194, 12);
    padding: 15px;
}
.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form {
    display: flex;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid rgb(121, 121, 121);
    box-shadow: 0 0 5px 5px rgba(238, 182, 0, 0.493), 0 0px 15px 5px rgba(248, 12, 12, 0.52), 0 0 25px 5px rgba(0, 255, 255, 0.294);
    justify-content: center;
    align-items: center;
    width: 90%;
    background: rgb(209, 204, 204);
    overflow: hidden;
}
.createAcc {
    background-color: rgba(187, 186, 183, 0.603);
    font-size: 25px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    color: #FFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.lastNamePlus {
    display: flex;
}
.name, .lastName {
    width: 50%;
}
.email, .password {
    width: 95%;
}
input {
    padding: 5px;
    border-radius: 15px;
    border: 1px solid rgb(151, 147, 147);
    margin: 10px;
    width: 100%;
}
select {
    width: 30%;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid gray;
}
.selects {
    display: flex;
    flex-direction: column;
}
.maleDiv {
    display: flex;
    justify-content: space-around;
}
.footerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerDiv button {
    width: 100%;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #000;
    cursor: pointer;
    color: rgb(48, 47, 47);
    font-weight: 800;
    margin: 15px;
}
.footerDiv button:hover {
    background-color: rgb(31, 31, 31);
    transition: 0.2s;
    color: #fff;
}
.footerDiv a{
 color: rgb(130, 130, 131);
 font-weight: 600;
}
.footerDiv a:hover{
    color: rgb(46, 44, 44);
}




@media screen and (min-width: 600px) {

   header {
        background-color: red;
    }

}







